[submodule "SpaceBank"]
	path = SpaceBank
	url = git@github.com:Salvas21/SpaceBank.git
[submodule "UnoGame"]
	path = UnoGame
	url = git@github.com:Salvas21/UnoGame.git
[submodule "PokerGame"]
	path = PokerGame
	url = git@github.com:Salvas21/PokerGame.git
[submodule "PokerHandAnalyser"]
	path = PokerHandAnalyser
	url = git@github.com:Salvas21/PokerHandAnalyser.git
[submodule "SyntaxicParser"]
	path = SyntaxicParser
	url = git@github.com:Salvas21/SyntaxicParser.git
[submodule "SudokuWebGame"]
	path = SudokuWebGame
	url = git@github.com:Salvas21/SudokuWebGame.git
[submodule "GameJamValleyfield2020"]
	path = GameJamValleyfield2020
	url = git@github.com:Salvas21/GameJamValleyfield2020.git
[submodule "TFF-Project"]
	path = TFF-Project
	url = git@github.com:Salvas21/TFF-Project.git
[submodule "Java-Socket-Chat"]
	path = Java-Socket-Chat
	url = git@github.com:Salvas21/Java-Socket-Chat.git
